# Debian 12 (Bookworm) preseed configuration

# Localization
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

# Network configuration
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string local
d-i netcfg/hostname string debian

# Configuration IP fixe pour l'installation
d-i netcfg/disable_autoconfig boolean true
d-i netcfg/get_ipaddress string 10.0.0.30
d-i netcfg/get_netmask string 255.255.255.0
d-i netcfg/get_gateway string 10.0.0.254
d-i netcfg/get_nameservers string 8.8.8.8
d-i netcfg/confirm_static boolean true

# Mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Configuration du gestionnaire de paquets
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-next boolean false
d-i apt-setup/cdrom/set-failed boolean false
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/disable-cdrom-entries boolean true
d-i apt-setup/use_mirror boolean true
d-i apt-setup/services-select multiselect security, updates
d-i apt-setup/security_host string security.debian.org

# Account setup
d-i passwd/root-login boolean false
d-i passwd/root-password password InitCT@2025
d-i passwd/root-password-again password InitCT@2025
d-i passwd/user-fullname string admct User
d-i passwd/username string admct
d-i passwd/user-password password InitCT@2025
d-i passwd/user-password-again password InitCT@2025
d-i user-setup/allow-password-weak boolean false

# Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean true

# Partitionning
d-i partman-auto/disk string
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-auto/method string lvm
d-i partman-lvm/confirm boolean true
d-i partman-auto/choose_recipe select ctpartitioning
d-i partman-auto-lvm/new_vg_name string vg_sys
d-i partman-auto-lvm/guided_size string max
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman/mount_style select uuid

d-i partman-auto/expert_recipe string                         \
        ctpartitioning ::                                     \
                512 10 512 fat32                              \
                        $primary{ }                           \
                        method{ efi } format{ }               \
                .                                             \
              1024 1 1024 xfs                                 \
                      $primary{ } $bootable{ }                \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ xfs }     \
                      mountpoint{ /boot }                     \
              .                                               \
              4096 1 4096 linux-swap                          \
                      $defaultignore{ }                       \
                      $lvmok{ }                               \
                      lv_name{ lv_swap }                      \
                      in_vg { vg_sys }                        \
                      method{ swap } format{ }                \
              .                                               \
              10240 1 10240 xfs                               \
                      $defaultignore{ }                       \
                      $lvmok{ }                               \
                      lv_name{ lv_root }                      \
                      in_vg { vg_sys }                        \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ xfs }     \
                      mountpoint{ / }                         \
              .                                               \
              4096 1 4096 xfs                                 \
                      $defaultignore{ }                       \
                      $lvmok{ }                               \
                      lv_name{ lv_var }                       \
                      in_vg { vg_sys }                        \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ xfs }     \
                      mountpoint{ /var }                      \
              .                                               \
              1024 1 1024 xfs                                 \
                      $defaultignore{ }                       \
                      $lvmok{ }                               \
                      lv_name{ lv_home }                      \
                      in_vg { vg_sys }                        \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ xfs }     \
                      mountpoint{ /home }                     \
              .                                               \
              1024 1 1024 xfs                                 \
                      $defaultignore{ }                       \
                      $lvmok{ }                               \
                      lv_name{ lv_opt }                       \
                      in_vg { vg_sys }                        \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ xfs }     \
                      mountpoint{ /opt }                      \
              .                                               \
              1024 1 1024 xfs                                 \
                      $defaultignore{ }                       \
                      $lvmok{ }                               \
                      lv_name{ lv_tmp }                       \
                      in_vg { vg_sys }                        \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ xfs }     \
                      mountpoint{ /tmp }                      \
              .                                               \
              1024 1 1024 xfs                                 \
                      $defaultignore{ }                       \
                      $lvmok{ }                               \
                      lv_name{ lv_vartmp }                    \
                      in_vg { vg_sys }                        \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ xfs }     \
                      mountpoint{ /var/tmp }                  \
              .                                               \
              5120 1 5120 xfs                                 \
                      $defaultignore{ }                       \
                      $lvmok{ }                               \
                      lv_name{ lv_varlog }                    \
                      in_vg { vg_sys }                        \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ xfs }     \
                      mountpoint{ /var/log }                  \
              .                                               \
              1024 1 1024 xfs                                 \
                      $defaultignore{ }                       \
                      $lvmok{ }                               \
                      lv_name{ lv_varlogaudit }               \
                      in_vg { vg_sys }                        \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ xfs }     \
                      mountpoint{ /var/log/audit }            \
              .                                               \

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true


# Package selection
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string openssh-server sudo curl wget vim qemu-guest-agent
d-i pkgsel/upgrade select full-upgrade
d-i pkgsel/update-policy select none
popularity-contest popularity-contest/participate boolean false
d-i pkgsel/updatedb boolean true

# Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default
d-i grub-installer/skip boolean false
d-i grub-installer/force-efi-extra-removable boolean true

# Finishing up the installation
d-i finish-install/reboot_in_progress note
d-i finish-install/keep-consoles boolean false

# Combined late commands - install tools, configure system, and switch to DHCP after installation
d-i preseed/late_command string \
  echo 'debian ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/debian ; \
  chmod 440 /target/etc/sudoers.d/debian ; \
  sed -i 's/^#*\(PermitRootLogin\) .*/\1 yes/' /target/etc/ssh/sshd_config ; \
  sed -i 's/^#*\(PasswordAuthentication\) .*/\1 yes/' /target/etc/ssh/sshd_config ; \
  echo 'auto eth0\niface eth0 inet dhcp' > /target/etc/network/interfaces.d/eth0 ; \
  in-target /bin/sh -c "echo 'manage_etc_hosts: true' >> /etc/cloud/cloud.cfg" ; \
  in-target wget https://gitlab.com/xen-project/xen-guest-agent/-/jobs/6041608357/artifacts/raw/target/release/xen-guest-agent_0.4.0_amd64.deb ; \
  in-target export RUNLEVEL=1 ; \
  in-target dpkg -i xen-guest-agent_0.4.0_amd64.deb ; \
  in-target apt-get update ; \
  in-target apt-get upgrade -y
